

<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Agregar {{ type | uppercase}}</h4>
            <p class="card-description">
              Especifique el monto y el tipo
            </p>

            <form [formGroup]="incomeOutcomeForm" (ngSubmit)="addIncomeOutcome()">
              
              <div class="form-group">
                <label>Descripción</label>
                <input formControlName="description" type="text" 
                       class="form-control" 
                       placeholder="Descripción"
                       name="descripcion">
              </div>

              <div class="form-group">
                  <label>Monto</label>
                  <input formControlName="amount" type="number" 
                         class="form-control" 
                         placeholder="Monto"
                         name="monto">
                    <p>
                      Debe de ser un monto positivo
                    </p>
                </div>

              <hr>
              <button *ngIf="!loading" type="submit" class="btn btn-success mr-2" [disabled]="incomeOutcomeForm.invalid" >
                <i class="fa fa-save"></i>
                Agregar
              </button>
               <app-btn-loading *ngIf="loading"></app-btn-loading>
            
              <button type="reset" class="btn btn-light">Cancelar</button>


              <div class="form-group col-12 row mt-3">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary btn-block" [disabled]="type === 'income'" (click)="switchType('income')">Income</button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn btn-warning btn-block" [disabled]="type === 'outcome'" (click)="switchType('outcome')">Outcome</button>
                    </div>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
          